{% extends 'base.html' %} {% block title %}Arush Verma | Software
Developer{%endblock %} {% block content %}
<div class="profile-section">
  <div class="profile-image">
    <div class="profile-picture-circle">
      <img
        src="/static/images/profile.jpg"
        alt="Profile Picture"
        class="rounded-circle"
      />
    </div>
  </div>
  <div class="profile-content">
    <h2 class="greeting">Hey, I'm Arush.</h2>
    <p class="bio">
      A pre-final Computer Science student at DSCE,Bangalore.<br />I’m drawn to
      fast-moving environments where I can experiment, break things, and build
      them better. My core interests lie in backend development with Python, as
      well as DevOps to optimize infrastructure, automate workflows, and deploy
      scalable systems using Kubernetes, Terraform, and Grafana.<br />
      Let’s connect—whether it’s to collaborate, discuss new ideas, or just geek
      out over tech or music!
    </p>

    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/arush-verma-b140a424b/"
        target="_blank"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/arush3218" target="_blank" title="GitHub">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://x.com/arush3218" target="_blank" title="X">
        <i class="fab fa-twitter"></i> X.com
      </a>
      <a
        href="https://open.spotify.com/user/ku9koky0ko3yphxlfd1o7fv1i?si=c1263ff7fc414bab"
        target="_blank"
        title="Spotify"
      >
        <i class="fab fa-spotify"></i> Spotify
      </a>
    </div>
  </div>
</div>
{% endblock %}
