{% extends 'base.html' %} {% block title %}Arush Verma | Software
Developer{%endblock %} {% block content %}
<div class="profile-section">
  <div class="profile-image">
    <div class="profile-picture-circle">
      <img
        src="/static/images/profile.jpg"
        alt="Profile Picture"
        class="rounded-circle"
      />
    </div>
  </div>
  <div class="profile-content">
    <h2 class="greeting">Hey, I'm Arush.</h2>
    <p class="bio">
      I'm a pre-final year Computer Science student at DSCE, Bangalore. I enjoy building things that work well behind the scenes—mainly backend systems using Python. Over time, I’ve also grown interested in how software gets deployed and managed, which led me to explore DevOps tools like Kubernetes, Terraform, and Grafana.

I like working on projects where I can learn by doing—tinkering, improving, and figuring out how everything fits together. If you're into building cool stuff or just want to talk tech (or music), I’m always up for a conversation.!
    </p>

    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/arush-verma-b140a424b/"
        target="_blank"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/arush3218" target="_blank" title="GitHub">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://x.com/arush3218" target="_blank" title="X">
        <i class="fab fa-twitter"></i> X.com
      </a>
      <a
        href="https://open.spotify.com/user/ku9koky0ko3yphxlfd1o7fv1i?si=c1263ff7fc414bab"
        target="_blank"
        title="Spotify"
      >
        <i class="fab fa-spotify"></i> Spotify
      </a>
    </div>
  </div>
</div>
{% endblock %}
